<header>
  <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-light pt-2 ps-3 pe-3 pb-2">  
    <div class="container-fluid">
      <a class="navbar-brand logo" href="#">
        <div class="circle-container">
          <img src="assets/img/icon-deal.png" alt="">
        </div>
        <dt class="text-primary display-6 fw-bold">SaunaWelt</dt>  
      </a>
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li>
      </ul>
    </div>
  
  </nav>
</header>
  
