<div class="container-fluid bg-light pt-5 pb-5">
    <div class="row ms-2">
        <div class="col-8">
            <p>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>    
                Characteristik 1
            </p>
            <p>
                <span>
                    <img src="assets/icons/celebration_24dp_5F6368_FILL0_wght300_GRAD0_opsz48.svg" alt="">
                </span>
                Charact 2
            </p>
            <p>
                <span>
                    <img class="icon" src="assets/icons/celebration_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                </span>
                char cateugory 1
            </p>


            <br><br><br><br><br>
            <dl>
                <dt class="fs-4 mb-4">
                    <div>
                        <img class="icon" src="assets/icons/celebration_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                        Char category 1
                    </div>   
                </dt>
                <div class="row ms-4">
                    <div class="col-4">
                        <div class="row mb-3">
                            <div class="col-1 me-2">
                                <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                            </div>
                            <div class="col">
                                <p class="fw-light-custom">Char 1 sdadafafaa afafasfs уауауа ауауауа ауауа</p>
                            </div>
                        </div> 
                    </div>
                    <div class="col-4">
                        <div class="row mb-3">
                            <div class="col-1 me-2">
                                <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                            </div>
                            <div class="col">
                                <span>Char 1 sdadafafaa afafasfs уауауа ауауауа ауауа</span>
                            </div>
                        </div> 
                    </div>
                    <div class="col-4">
                        <div class="row mb-3">
                            <div class="col-1 me-2">
                                <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                            </div>
                            <div class="col">
                                <span>Char 1 sdadafafaa afafasfs уауауа ауауауа ауауа</span>
                            </div>
                        </div> 
                    </div>
                    <div class="col-4">
                        <div class="row mb-3">
                            <div class="col-1 me-2">
                                <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                            </div>
                            <div class="col">
                                <span>Char 1 sdadafafaa afafasfs уауауа ауауауа ауауа</span>
                            </div>
                        </div> 
                    </div>
                    <div class="col-4">
                        <div class="row mb-3">
                            <div class="col-1 me-2">
                                <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                            </div>
                            <div class="col">
                                <span>Char 1 sdadafafaa afafasfs уауауа ауауауа ауауа</span>
                            </div>
                        </div> 
                    </div>
                </div>
                <br><br><br><br><br>
                <dd>
                    <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                    Char 1
                </dd>
                <dd>
                    <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                    Char 1
                </dd>
                <dd>
                    <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                    Char 1
                </dd>
                
                
              </dl>  
            <p>
                <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                char 1
            </p>

        </div>
        <div class="col-4">
        </div>
    </div>
</div>
<div class="container my-5">
    <h2 class="text-center mb-4">Характеристики бани</h2>
  
    <!-- Группа характеристик 1: Условия -->
    <div class="row feature-group">
      <div class="col-md-4">
        <h5>Условия</h5>
        <div class="feature-item">
          <i class="bi bi-thermometer-sun feature-icon"></i>
          <span>Температура до 120°C</span>
        </div>
        <div class="feature-item">
          <i class="bi bi-water feature-icon"></i>
          <span>Средняя влажность 60%</span>
        </div>
        <div class="feature-item">
          <i class="bi bi-lightning feature-icon"></i>
          <span>Парогенератор</span>
        </div>
      </div>
    </div>
  
    <!-- Группа характеристик 2: Вместимость -->
    <div class="row feature-group">
      <div class="col-md-4">
        <h5>Вместимость</h5>
        <div class="feature-item">
          <i class="bi bi-people feature-icon"></i>
          <span>До 10 человек</span>
        </div>
        <div class="feature-item">
          <i class="bi bi-geo feature-icon"></i>
          <span>Размер помещения: 30 м²</span>
        </div>
      </div>
    </div>
  
    <!-- Группа характеристик 3: Дополнительно -->
    <div class="row feature-group">
      <div class="col-md-4">
        <h5>Дополнительно</h5>
        <div class="feature-item">
          <i class="bi bi-music-note-beamed feature-icon"></i>
          <span>Аудиосистема</span>
        </div>
        <div class="feature-item">
          <i class="bi bi-tv feature-icon"></i>
          <span>Телевизор</span>
        </div>
        <div class="feature-item">
          <i class="bi bi-cup-straw feature-icon"></i>
          <span>Бар</span>
        </div>
      </div>
    </div>
  
  </div>