<div class="container-fluid bg-primary p-2">
    <form class="ps-4 pe-4">
        <div class="row">
            <div class="col-10">
                <div class="row p-4 pe-0">
                    <div class="col ps-0 pe-1">
                        <input type="text" class="form-control p-3" placeholder="Enter email" name="email">
                    </div>
                    <div class="col pe-1 ps-1">
                        <input type="text" class="form-control p-3" placeholder="Enter password" name="pswd2">
                    </div>
                    <div class="col pe-1 ps-1">
                        <input type="text" class="form-control p-3" placeholder="Enter password" name="pswd3">
                    </div>
                </div>
            </div>
            <div class="col-2 p-4 ps-0">
                <div class="ps-1">
                    <button type="submit" class="form-control bg-secondary text-light border-0 p-3 w-100"  name="btn">suchen</button>
                </div>
            </div>
        </div>
    </form>
</div>
