
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
  
        <!-- Modal Header 
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
      -->
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
                <!-- Carousel -->
                <div id="demo" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
                    </div>
                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                    <div class="carousel-item active ratio ratio-4x3 bg-dark bg-opacity-75">
                        <img src="assets/img/sauna.jpeg" alt="Los Angeles"  class="img-fluid" style="object-fit: contain;">
                    </div>
                    <div class="carousel-item ratio ratio-4x3 bg-dark bg-opacity-75">
                        <img src="https://media.istockphoto.com/id/1441375145/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BC%D0%BE%D0%BB%D0%BE%D0%B4%D0%B0%D1%8F-%D0%B6%D0%B5%D0%BD%D1%89%D0%B8%D0%BD%D0%B0-%D0%BE%D1%82%D0%B4%D1%8B%D1%85%D0%B0%D0%B5%D1%82-%D0%B2-%D1%81%D0%B0%D1%83%D0%BD%D0%B5.jpg?s=1024x1024&w=is&k=20&c=0rElp6akZsWN_3qcVQ7Sy8ZO7GtV1PePnZg7orz_EGQ=" alt="Chicago"  class="img-fluid" style="object-fit: contain;">
                    </div>
                    <div class="carousel-item ratio ratio-4x3 bg-dark bg-opacity-75">
                        <img src="" alt="New York"  class="img-fluid" style="object-fit: contain;">
                    </div>
                    <div class="carousel-item ratio ratio-4x3 bg-dark bg-opacity-75">
                        <img src="https://media.istockphoto.com/id/1441375145/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BC%D0%BE%D0%BB%D0%BE%D0%B4%D0%B0%D1%8F-%D0%B6%D0%B5%D0%BD%D1%89%D0%B8%D0%BD%D0%B0-%D0%BE%D1%82%D0%B4%D1%8B%D1%85%D0%B0%D0%B5%D1%82-%D0%B2-%D1%81%D0%B0%D1%83%D0%BD%D0%B5.jpg?s=1024x1024&w=is&k=20&c=0rElp6akZsWN_3qcVQ7Sy8ZO7GtV1PePnZg7orz_EGQ=" alt="Chicago"  class="img-fluid" style="object-fit: contain;">
                    </div>
                    <div class="carousel-item ratio ratio-4x3 bg-dark bg-opacity-75">
                        <img src="" alt="New York"  class="img-fluid" style="object-fit: contain;">
                    </div>
                    </div>
                
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    </button>

                </div>
            </div>
            <div class="col-6 my-2">
              <h4 class="modal-title">Modal Heading</h4>
              
              <h4 class="mb-3">List item pojfa asd asd a das</h4>
              <div class="my-3 border-bottom">
                <p class="text-muted mb-1">ab<span class="fw-bold fs-5 ps-2">50 Euro</span><span class="small">pro stunde</span></p>
                <p class="small mb-0">pro stunde</p>
              </div>
              <div class="my-2 border-bottom">
                <p class="text-muted mb-1">ab<span class="fw-bold fs-5 ps-2">150 Euro</span></p>
                <p class="small mb-0">pro Tag</p>
              </div>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">Maximale Gästezahl: </span>
                        <span class="ms-2 me-2">
                            bis 10 Personen
                        </span>
                    </p>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">Raum: </span>
                        <span class="ms-2 me-2">
                            Privat mitten - ohne Fremde
                        </span>
                    </p>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">Schwitzraum: </span>
                        <span class="me-2">
                            <i class="bi bi-check-lg text-primary "></i>
                            Sauna
                        </span>
                    </p>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">тип обогрева: </span>
                        <span class="ms-2 me-2">
                            один из вариантов
                        </span>
                    </p>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">температурный режим: </span>
                        <span class="me-2">
                            <i class="bi bi-check-lg text-primary "></i>
                            80-90 град
                        </span>
                    </p>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">влажность: </span>
                        <span class="me-2">
                            <i class="bi bi-check-lg text-primary "></i>
                            40-50 %
                        </span>
                    </p>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">Уборка и дезинфекция: </span>
                        <span class="ms-2 me-2">
                            после каждого посещения
                        </span>
                    </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <app-characteristics></app-characteristics>
                <div class="col-9">
                    <h3>Другие опции</h3>
                    <p class="mt-2 mb-3 pt-1 text-muted small border-top">
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
        
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
        
                    </p>

                </div>
            </div>

          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
