
$primary: #00b98e !default;
$secondary: #0c2744 !default;
$success: #007c51 !default;  
$danger: #f63b2b !default;
$warning: #ff5549 !default;
$info: #f6912b !default;
$light: #ffffff !default;
$dark: #212121 !default;

.icon {
    width: 2rem;
    height: 2rem;
    fill: $secondary;
    padding-bottom: 0.4rem;
  }

  .icon-check {
    width: 2rem;
    height: 2rem;
    fill: $primary;
    //color: $primary;
    padding-bottom: 0.5rem;
  }

  .fw-light-custom {
    font-weight: 200 !important;
}



@import "bootstrap/scss/bootstrap";
