<div class="container-fluid bg-light pt-0 pb-0">
    <div class="row ms-2">
        <div class="col-9">
            <div class=" border-bottom border-5 border-primary border-opacity-50">
                <h2>Thermen</h2>
                <p>Angobote von Wellness hotel "Paradise"</p>
            </div>
            <div class="container my-3">
                <div class="row pt-5 pb-4 border-bottom border-5 border-primary">
                  <div class="col-3">
                    <div class="ratio ratio-1x1">
                      <img src="assets/img/sauna.jpeg" class="img-fluid rounded" alt="Icon">
                    </div>
                  </div>
                  <div class="col-6">
                    <h4 class="mb-3">List item pojfa asd asd a das</h4>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">Schwitzraum: </span>
                        <span class="me-2">
                            <i class="bi bi-check-lg text-primary "></i>
                            Sauna
                        </span>
                    </p>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">Maximale Gästezahl: </span>
                        <span class="ms-2 me-2">
                            bis 10 Personen
                        </span>
                    </p>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">Raum: </span>
                        <span class="ms-2 me-2">
                            Privat mitten - ohne Fremde
                        </span>
                    </p>
                    <p class="mt-2 mb-3 pt-1 text-muted small border-top">
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>

                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>

                    </p>
                    <!-- link/Button to Open the Modal -->
                    <a type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="link d-inline-flex align-items-center fw-bold">Mehr anzeigen<i class="bi bi-chevron-double-right ms-2"></i></a>
                  </div>
                  <div class="col-3 text-end">
                    <div class="d-flex flex-column align-items-end">
                      <span class="text-muted">★★★★☆</span>
                      <i class="bi bi-heart"></i>
                      <div class="my-3 border-bottom">
                        <p class="text-muted mb-1">ab<span class="fw-bold fs-5 ps-2">50 Euro</span></p>
                        <p class="small mb-0">pro stunde</p>
                      </div>
                      <div class="my-2 border-bottom">
                        <p class="text-muted mb-1">ab<span class="fw-bold fs-5 ps-2">150 Euro</span></p>
                        <p class="small mb-0">pro Tag</p>
                      </div>
                     
                      <button class="mt-2 btn btn-primary text-light">Забронировать</button>
                    </div>
                  </div>
                </div>
              </div>



              <div class="container my-3">
                <div class="row pt-5 pb-4 border-bottom border-5 border-primary">
                  <div class="col-3">
                    <div class="ratio ratio-1x1">
                      <img src="assets/img/sauna.jpeg" class="img-fluid rounded" alt="Icon">
                    </div>
                  </div>
                  <div class="col-6">
                    <h4 class="mb-3">List item pojfa asd asd a das</h4>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">Schwitzraum: </span>
                        <span class="me-2">
                            <i class="bi bi-check-lg text-primary "></i>
                            Sauna
                        </span>
                    </p>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">Maximale Gästezahl: </span>
                        <span class="ms-2 me-2">
                            bis 10 Personen
                        </span>
                    </p>
                    <p class="mb-1 text-muted">
                        <span class=" fw-bold">Raum: </span>
                        <span class="ms-2 me-2">
                            Privat mitten - ohne Fremde
                        </span>
                    </p>
                    <p class="mt-2 mb-3 pt-1 text-muted small border-top">
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>

                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>
                        <span class="me-2 d-inline-flex align-items-center">
                            <i class="bi bi-check-lg text-primary me-1"></i>
                            Sauna
                        </span>

                    </p>
                    <a href="#" class="link d-inline-flex align-items-center fw-bold">Mehr anzeigen<i class="bi bi-chevron-double-right ms-2"></i></a>
                  </div>
                  <div class="col-3 text-end">
                    <div class="d-flex flex-column align-items-end">
                      <span class="text-muted">★★★★☆</span>
                      <i class="bi bi-heart"></i>
                      <div class="my-3 border-bottom">
                        <p class="text-muted mb-1">ab<span class="fw-bold fs-5 ps-2">50 Euro</span></p>
                        <p class="small mb-0">pro stunde</p>
                      </div>
                      <div class="my-2 border-bottom">
                        <p class="text-muted mb-1">ab<span class="fw-bold fs-5 ps-2">150 Euro</span></p>
                        <p class="small mb-0">pro Tag</p>
                      </div>
                     
                      <button class="mt-2 btn btn-primary text-light">Забронировать</button>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>


<!--Modal dialog for offer details-->
<app-offer-details></app-offer-details>  